.page-home.dpt-cat .dpt-trigger,
.dpt-trigger .ri-close-line,
.showdpt .dpt-trigger .ri-menu-3-line {
  display: none;
}

.showdpt .dpt-trigger .ri-close-line {
  display: block;
}

.page-title {
  margin-bottom: 3em;
}

/* Variant */
.products .variant form {
  display: flex;
  margin-top: 0.5em;
}

.products .variant form p {
  position: relative;
  margin: 0 0.5em 0.5em;
}

.products :where(.variant, .actions) .circle {
  display: block;
  position: static;
  top: 0;
  margin: 0;
  cursor: pointer;
  z-index: 1;
}

.products .variant input {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 0;
  width: 0;
}

.products .colors .variant label::before {
  opacity: 1;
}

/* .products .variant label[for=""]::before {
    background-color: #576574;
  } */

.products .actions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.products .qty-control {
  width: fit-content;
  padding: 0.5em;
  border: 1px solid var(--border-color);
  margin: 0 2em 2em 0;
}

.products .actions :where(input, button) {
  font-size: 1.25em;
  outline: 0;
}

.products .actions input {
  width: 50px;
  text-align: center;
}

.products .qty-control button:hover {
  background-color: transparent;
}

form p {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

form label {
  font-weight: var(--fw5);
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.products.one .flexwrap > .row:last-child > .item {
  padding-left: 2em;
}

.single-cart .products .item {
  display: block !important;
}

/* Page single */
#page:not(.page-home) .dpt-menu {
  display: none;
}

#page.showdpt .dpt-menu {
  display: block;
}
/* BreadCurm */
.breadcrumb {
  font-size: var(--font-small);
  margin-bottom: 2em;
}

.breadcrumb li:not(:last-child)::after {
  content: "/";
  padding: 0 0.35em;
}

.breadcrumb li:last-child {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--light-text-color);
}

/* collapse */
.products .collapse .has-child a {
  position: relative;
  font-weight: var(--fw7);
  text-transform: uppercase;
  padding: 1em 1.25em;
}

.products .collapse .has-child > a::before {
  content: "+";
  position: absolute;
  left: 0;
}

.products .collapse .content {
  margin: 0 0 1.5em 2em;
  font-size: var(--font-small);
  display: none;
}

.products .collapse .expand .content {
  display: flex;
  margin-top: 2em;
}

.products .collapse .expand a::before {
  content: "-";
}

/* Form */
.products.cart .form-cart {
  width: 66%;
}

.products.cart .cart-summary {
  width: 34%;
  padding-left: 2.5em;
  margin-top: 0;
}

.products.cart form {
  width: var(--percent100);
}

.products.cart table thead th {
  vertical-align: middle;
  background-color: var(--light-bg-color);
}

.products.cart table :where(th, td) {
  padding: 2em 1em;
  text-align: center;
}

.products.cart table :where(th, td):first-child {
  text-align: left;
  padding-left: 2em;
}

.products.cart table tbody td:first-child {
  padding-left: 0;
}

.products.cart table td :where(.content, .qty-control, p) {
  margin: 0;
  padding: 0;
}

.qty-control {
  border: 1px solid var(--border-color);
}

.products.cart .qty-control :where(button, input) {
  width: 32px;
  height: 32px;
  padding: 0.25em;
  text-align: center;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.products.cart .qty-control button {
  cursor: pointer;
}

.products.cart table tbody tr {
  border-bottom: 1px solid var(--border-color);
}

.cart-summary {
  width: var(--percent100);
  margin: 2.5em 0 4em;
}

.cart-summary .item {
  background-color: var(--light-bg-color);
}

.cart-summary .coupon {
  position: relative;
  margin-bottom: 2em;
}

.cart-summary .coupon input {
  font-size: 1.1em;
  outline: 0;
  width: var(--percent100);
  padding: 0 1.5em;
  line-height: 50px;
  background-color: var(--white-color);
  border: 3px solid var(--dark-color);
}

.cart-summary .coupon button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  padding: 0 2.5em;
  line-height: 53px;
  background-color: var(--dark-color);
  color: var(--white-color);
  cursor: pointer;
}

.cart-summary .shipping-rate {
  padding: 0 2em 0 1em;
}

.cart-summary .shipping-rate .has-child > a {
  font-size: 1em;
  margin: 2em 0;
  border: 0;
}

.cart-summary .content form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.styled :where(input, select, textarea) {
  padding: 0.75em;
  outline: 0;
  background-color: var(--white-color);
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: var(--border-color);
}

.products .cart-summary .variant form label {
  position: relative;
  border: 0;
  background-color: var(--white-color);
  transform: scale(0.5) translateX(-25px);
}

.cart-summary .variant p span {
  position: absolute;
  top: 0;
  left: 20px;
  line-height: 3;
}

.cart-summary .variant input:checked + label::before {
  opacity: 1;
}

.products.cart .cart-total table tr > * {
  padding: 0;
}

.products.cart .cart-total table td {
  text-align: right;
}

.cart-summary .cart-total {
  padding: 2em;
  background-color: var(--border-color);
  line-height: 2em;
}

.cart-summary .cart-total table {
  width: var(--percent100);
}

.cart-summary .cart-total table tr {
  display: flex;
  justify-content: space-between;
}

.cart-summary .grand-total td {
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw8);
  line-height: 2em;
}

.cart-summary .cart-total > a {
  width: var(--percent100);
  display: block;
  text-align: center;
  margin-top: 2em;
  font-size: 1.25em;
}

@media screen and (max-width: 996px) {
  .single-cart .products.one .flexwrap {
    display: flex;
    flex-direction: column;
  }

  .single-cart .products .item {
    width: 450px;
  }
  .products.cart table tbody tr:last-child {
    border-bottom: none;
  }
}
