.app {
  height: 100%;
}
/* thêm 1 số biến */
:root {
  --primary-color: #ff6b6b;
  --secondary-color: #794afa;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s, color 0.3s;
  --trans-background: background-color 0.3s;
  --trans-color: all 0.3s linear;
}

.header {
  height: 62px;
  width: 100%;
  padding: 0 40px;
  background-color: var(--bs-white);
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow: hidden;
  z-index: 999;
}

.header__navbar {
  width: 236px;
  height: 100%;
}

.header__navbar-img {
  width: 122px;
  height: 54px;
  margin: 4px 0 0 22px;
  padding: 0 5px 5px 0;
}

.header__list {
  width: 65%;
  height: 100%;
}

.header__navbar-list {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__navbar-item {
  float: left;
  display: inline;
  height: 100%;
}

.header__navbar-item-link {
  display: block;
  text-decoration: none;
  font-size: 1.7rem;
  color: #333;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 20px 10px;
  margin: 4px 5px 0 5px;
  text-transform: uppercase;
}

.header__search {
  float: left;
  line-height: 5.7rem;
  padding: 0 5px 0 15px;
}

.header__search-input {
  border: none;
  background: none;
  width: 72px;
  font-size: 1.35rem;
  padding: 0;
  padding-right: 15px;
  color: #757575;
  transition: 0.4s;
}

.header__search-btn {
  background: none;
  border: none;
  padding-left: 4px;
}

.fa-magnifying-glass {
  font-size: 1.4rem;
  color: #2d2d2d;
}

.header__icon {
  float: left;
  line-height: 5.7rem;
  padding: 3px 5px;
  margin-left: 40px;
}

:where(.off-canvas, header) li > a {
  display: flex;
  position: relative;
  line-height: inherit;
  transition: var(--trans-color);
}

.header-main {
  background-color: var(--secondary-dark-color);
  padding: 1.5em 0;
  margin-bottom: 2em;
}
.header-main .dpt-head {
  margin-top: 5px;
}

.fa-user,
.fa-bag-shopping {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #333;
}

/* header-top */

.header-top .wrapper {
  font-size: var(--font-smaller);
  font-weight: var(--fw3);
  justify-content: space-between;
  line-height: 42px;
}

.header-top .wrapper ul {
  gap: 2em;
}

.header-top li {
  position: relative;
}

.header-top ul ul {
  position: absolute;
  left: -1em;
  line-height: 2em;
  background-color: var(--while-color);
  border: 1px solid var(--border-color);
  z-index: 1;
  display: none;
}

:where(.header-top, .thetop-nav) .right ul ul li a {
  padding: 0.25em 1em;
}

:where(.header-top, .thetop-nav) .right ul ul li:first-child a {
  background-color: var(--border-color);
}

.header-top li:hover ul {
  display: block;
}

/* !header-top */

/* header-nav */

.header-nav {
  padding: 0.5em 0;
  margin-bottom: 1.5em;
  border-bottom: 1px solid var(--border-color);
}

.trigger {
  font-size: 1.5em;
  display: flex;
  padding: 0.5em;
}

.logo a {
  font-family: "Poppins";
  font-size: 1.75em;
  position: relative;
  font-weight: var(--fw8);
  display: flex;
  padding-left: 0.75em;
}

.circle {
  position: absolute;
  top: -15px;
  left: -6px;
  width: 38px;
  height: 38px;
  border-radius: var(--percent50);
  background-color: var(--light-bg-color);
  z-index: 1;
}

.circle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: var(--percent50);
  background-color: var(--secondary-color);
  bottom: 5px;
  right: 5px;
  opacity: 0.4;
}

.header-nav nav > ul {
  line-height: 100px;
  gap: 2em;
}

.fly-item {
  position: absolute;
  height: 16px;
  font-size: var(--font-smaller);
  padding: 3px;
  text-align: center;
  line-height: 10px;
  color: var(--while-color);
}

nav .fly-item {
  top: 50%;
  margin-top: -24px;
  width: 30px;
  border-radius: 3px;
  right: -32px;
  background-color: var(--primary-color);
}

.header-nav .right {
  position: relative;
  margin-left: auto;
}

.header-nav .right .icon-large {
  position: relative;
}

.header-nav .right .fly-item {
  top: 0;
  right: 16px;
  width: 16px;
  background-color: var(--secondary-dark-color);
  border-radius: var(--percent50);
}

/* !header-nav */

/* mega menu */
.mega .flexcol {
  flex: left;
  min-width: 15%;
  margin-right: 2.5em;
  margin-bottom: 1.5em;
  z-index: 1;
}

/* !mega menu */

.flexitem {
  display: flex;
  align-items: center;
}

.main-links a:hover {
  color: var(--secondary-color);
}

.second-links a:hover {
  color: var(--light-text-color);
}

.icon-small .icon-large {
  display: flex;
  align-items: center;
  padding: 0 0.25em;
  font-weight: normal;
}

.icon-small {
  font-size: 1.25em;
  margin-left: auto;
}

.icon-large {
  font-size: 1.75em;
  padding: 0 0.75em 0 0;
}

.mobile-hide {
  display: none;
}

.object-cover {
  position: absolute;
  object-fit: cover;
  width: var(--percent100);
  height: var(--percent100);
  display: block;
}

.products .media {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}

.primary-button,
.secondary-buttton,
.light-button {
  font-size: var(--font-smaller);
  padding: 1em 3em 1em;
  height: auto;
  width: fit-content;
  border-radius: 2em;
  transition: var(--trans-color);
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--while-color);
}

.primary-button:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.secondary-buttton {
  background-color: var(--secondary-dark-color);
  color: var(--while-color);
}

.secondary-buttton:hover {
  background-color: var(--light-bg-color);
  color: var(--secondary-dark-color);
}

.light-button {
  background-color: var(--light-bg-color);
}

.light-button:hover {
  background-color: var(--secondary-dark-color);
  color: var(--while-color);
}

.view-all {
  font-size: var(--font-smaller);
  display: flex;
  gap: 1em;
  transition: var(--trans-color);
}

.view-all:hover {
  opacity: 0.5;
}

.dpt-cat {
  position: relative;
  z-index: 10;
}

.dpt-cat .dpt-head {
  position: relative;
  width: 300px;
  padding: 0.75em 1.5em;
  background-color: var(--primary-color);
  border-radius: 7px 7px 0 0;
  color: var(--while-color);
  margin-bottom: -2.15em;
}

.dpt-cat .dpt-head .mini-text .main-text {
  color: var(--light-bg-color);
}

.dpt-cat .dpt-trigger {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.3em;
  height: 60px;
  width: 60px;
}

.dpt-menu > ul > li > a {
  font-size: var(--font-small);
  height: 46px;
  align-items: center;
}

.mini-text {
  font-size: var(--font-smaller);
  color: var(--light-bg-color);
}

.header-main .right {
  flex: 1;
  width: 100%;
}

form {
  position: relative;
}

form.search input {
  line-height: 3.25em;
  padding: 0 7em 0 4.5em;
  border: 0;
  outline: 0;
  width: var(--percent100);
  border-radius: 7px;
  font-size: 0.9em;
  font-weight: var(--fw3);
}

form.search :where(span, button) {
  position: absolute;
  top: 0;
  padding: 0.55em 1.5em;
  font-size: 1em;
  color: var(--light-text-color);
  height: var(--percent100);
}

form.search button {
  right: 0;
  border: 0;
  outline: 0;
  font-size: 0.875em;
  border-radius: 0 7px 7px 0;
  background-color: var(--primary-color);
  color: var(--while-color);
  font-weight: var(--fw6);
  cursor: pointer;
  transition: var(--trans-color);
}

form.search button:hover {
  background-color: var(--dark-color);
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0.2em;
  }

  .desktop-hide {
    display: none;
  }

  .mobile-hide {
    display: block;
  }

  .logo a {
    margin-right: 2em;
  }

  .header-nav {
    padding: 0;
    margin: 0;
    border-bottom: 0;
  }

  .header-nav .right li > a {
    margin-left: 1em;
  }

  /* mega menu */

  nav .mega {
    position: absolute;
    width: var(--percent100);
    height: auto;
    left: 0;
    right: 0;
    padding: 2.5em;
    line-height: 2em;
    background-color: var(--light-bg-color);
    box-shadow: rgb(0 0 0 / 20%) 0 30px 20px - 30px;
    z-index: 100;
    display: none;
  }

  nav li.has-child:hover .mega {
    display: block;
  }

  nav .mega .wrapper {
    display: flex;
  }

  nav .mega h4 {
    font-size: 0.8em;
    text-transform: uppercase;
  }

  nav .mega ul {
    font-size: var(--font-smaller);
  }

  nav .mega .women-brands {
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
  }

  nav .mega .women-brands li {
    min-width: 60px;
  }

  nav .mega .view-all {
    margin-top: 1em;
  }

  nav .mega .products {
    flex: 2;
    padding: 0;
    align-items: center;
    position: relative;
  }

  nav .mega .products .row {
    width: var(--percent100);
  }

  nav .mega .products .media {
    height: 400px;
  }

  nav .mega .products .text-content {
    line-height: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
    position: absolute;
    bottom: 4em;
    width: var(--percent100);
  }

  nav .mega .products .text-content h4 {
    font-size: 2em;
    font-weight: var(--fw8);
    text-align: center;
    color: var(--secondary-dark-color);
  }
  /* mega menu */

  .header-main .right {
    max-width: 600px;
    margin-left: auto;
  }

  /* department menu */

  .dpt-menu {
    position: absolute;
    top: var(--percent100);
    width: 300px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-top: 0;
    border-bottom: 0;
  }

  .dpt-menu > ul > li > a {
    font-weight: var(--fw5);
    padding: 0 1.5em;
    border-bottom: 1px solid var(--border-color);
  }

  .dpt-menu .has-child:hover ul {
    display: block;
  }

  .dpt-menu .has-child li a {
    transition: var(--trans-color);
  }

  .dpt-menu .has-child li a:hover {
    text-decoration: underline;
  }

  .dpt-menu .has-child > ul,
  .dpt-menu .mega {
    position: absolute;
    top: 0;
    left: var(--percent100);
    width: var(--percent100);
    height: auto;
    min-height: var(--percent100);
    font-size: var(--font-small);
    line-height: 2.5em;
    border: 1px solid var(--border-color);
    border-top: 0;
    display: none;
    background-position: center bottom;
  }

  /* showing the first sub menu */
  .dpt-menu .mega {
    display: block;
  }

  .dpt-menu .Athletic ul {
    background-image: url(../header-img/img1.png);
    width: 150%;
    color: var(--white-color);
  }
  .dpt-menu .Running ul {
    background-image: url(../header-img/img2.png);
    width: 150%;
    color: var(--white-color);
  }
  .dpt-menu .Soccer ul {
    background-image: url(../header-img/img3.png);
    width: 150%;
    color: var(--white-color);
  }
  .dpt-menu .Basketball ul {
    background-image: url(../header-img/img4.png);
    width: 150%;
    color: var(--white-color);
  }
  .dpt-menu .Jogging ul {
    background-image: url(../header-img/img5.png);
    width: 150%;
    color: var(--white-color);
  }
  .dpt-menu .Walking ul {
    background-image: url(../header-img/img1.png);
    width: 150%;
    color: var(--white-color);
  }
  .dpt-menu .High-Heels ul {
    background-image: url(../header-img/img6.png);
    width: 150%;
    color: var(--white-color);
  }
  .dpt-menu .Loafers ul {
    background-image: url(../header-img/img7.png);
    width: 150%;
    color: var(--white-color);
  }
  /* !department menu */
}

.site-off {
  position: fixed;
  width: 320px;
  height: var(--percent100);
  background-color: var(--white-color);
  overflow-y: auto;
  z-index: 1000;
  transform: translateX(-100%);
  visibility: hidden;
  transform: transform 0.4s visibility 0.4s;
  will-change: transform, visibility;
}

.showmenu .site-off {
  transform: translateX(0);
  visibility: visible;
  transform: transform 0.4s 0s, visibility 0s 0s;
}

.off-canvas {
  width: var(--percent100);
  height: var(--percent100);
  touch-action: auto;
  padding: 1.5em;
}

.off-canvas .canvas-head {
  color: var(--white-color);
  justify-content: space-between;
  padding: 1.5em;
  margin: -1.5em -1.5em 1.5em;
  background-color: var(--secondary-dark-color);
  border-bottom-right-radius: 160px 25px;
}

.off-canvas .canvas-head .logo {
  z-index: 10;
  position: relative;
}

.off-canvas .canvas-head .logo .circle {
  opacity: 0.75;
}

.off-canvas .container {
  padding: 0;
}

.off-canvas .container .left,
.off-canvas .container .right {
  width: 100%;
}

.off-canvas .container .right > ul {
  width: 100%;
}

.off-canvas .container .right > ul > li {
  width: 100%;
}

.t-close {
  font-size: 1.25em;
  width: 32px;
  height: 32px;
  border-radius: var(--percent50);
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
  transition: var(--trans-background-color);
}

.t-close:hover {
  background-color: var(--white-color);
  color: var(--secondary-dark-color);
  opacity: 0.75;
}

.off-canvas .dpt-head {
  font-size: var(--font-small);
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  background-color: var(--light-bg-color);
  border-radius: 7px 7px 0 0;
}

.off-canvas .has-child > :where(ul, .mega) {
  font-size: var(--font-small);
  font-weight: var(--fw3);
  line-height: 28px;
  padding-left: 3em;

  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.off-canvas .thetop-nav .wrapper {
  display: flex;
  flex-direction: column;
}

.off-canvas .expand > :where(ul, .mega) {
  max-height: 2000px;
}

.off-canvas .thetop-nav ul,
.off-canvas nav > ul {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-small);
  line-height: 36px;
  padding-top: 1.25em;
  margin: 1.25em 0;
  border-top: 1px solid var(--border-color);
}

.off-canvas .thetop-nav ul {
  padding-left: 0;
}

.off-canvas nav .mega {
  padding: 0;
}

.off-canvas nav .mega .products {
  display: none;
}

.off-canvas .has-child .icon-small {
  padding: 0.5em;
  line-height: initial;
}

.off-canvas .dpt-menu .icon-small {
  transform: rotate(90deg);
}

.off-canvas .has-child {
  width: var(--percent100);
}

.offf-canvas
  .thetop-nav
  .right
  > ul
  > :wehre(:nth-child(4), li:nth-child(5))
  > a {
  display: none;
}

.offf-canvas .thetop-nav .right ul ul {
  display: flex;
  flex-direction: row;
}

.offf-canvas .thetop-nav .right ul ul li a {
  padding: 0.5 em;
  border: 1px solid var(--border-color);
  line-height: 16px;
  margin: 0 0.5em 0.5em 0;
}
