#page {
  margin-top: -23px;
}

.sectop {
  justify-content: space-between;
  padding-bottom: 0.5em;
  margin-bottom: 2em;
  border-bottom: 1px solid var(--border-color);
}

.sectop h2 {
  position: relative;
  font-size: 1.5em;
  font-weight: var(--fw7);
}

.sectop h2 span:not(.circle) {
  padding: 0 0 0 2em;
}

.sectop h2 .circle {
  top: -5px;
}

/* PRODUCTS */

.products .offer {
  text-align: center;
  margin-bottom: 1.5em;
}

.products .offer p {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.products .offer ul {
  gap: 1em;
}

.products .offer ul li {
  position: relative;
  width: 34px;
  height: 34px;
  padding: 0.5em;
  line-height: initial;
  color: var(--secondary-dark-color);
  background-color: var(--light-bg-color);
  border-radius: 5px;
}

.products .offer ul li:not(:last-child)::before {
  content: ":";
  position: absolute;
  right: -0.6em;
  color: var(--light-text-color);
}

.products :where(.image, .thumbnail) img {
  transition: transform 0.3s;
}

.products :where(.image, .thumbnail):hover img {
  transform: scale(1.1);
}

.products .hoverable {
  position: absolute;
  top: 0;
  right: 0;
}

.products .hoverable li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0.25em;
  margin: 0.25em;
  border-radius: var(--percent50);
  line-height: 1;
  background-color: var(--white-color);
  opacity: 0.5;
  transition: var(--trans-background-color), opacity 0.3s;
}

.products .item:hover .hoverable li a {
  opacity: 1;
}

.products .hoverable li a:hover {
  color: var(--white-color);
  background-color: var(--dark-color);
}

.products .hoverable li.active a:hover {
  background-color: var(--primary-color);
}

.products .hoverable li:not(.active) {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.products .item:hover .hoverable li {
  transform: translateX(0);
  opacity: 1;
}

.products .hoverable li:last-child {
  transition-delay: 0.1s;
}

.products .discount {
  top: auto;
  right: 0;
  left: auto;
  bottom: 0;
  background-color: transparent;
  z-index: 1;
}

.products .discount::before {
  background-color: var(--dark-color);
}

.products .discount span {
  position: relative;
  font-size: var(--font-smaller);
  font-weight: var(--fw5);
  color: var(--white-color);
}

.products .content {
  display: flex;
  flex-direction: column;
}

.products:where(.big, .main, .one) .content {
  gap: 1em;
  margin-top: 1.25em;
}

.products .rating {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.products .rating .stars {
  width: 80px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath d='M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z' fill='rgba(240,187,64,1)'%3E%3C/path%3E%3C/svg%3E");
  background-position-y: top;
  background-repeat-y: no-repeat;
}

.products h3 {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.products h3 a:hover {
  text-decoration: underline;
}

.products .price .current {
  font-size: calc(1em + 1vw);
  color: var(--primary-color);
  margin-right: 0.25em;
}

.products .price .normal {
  color: var(--light-text-color);
  text-decoration: line-through;
}

.products .stock .qty {
  display: flex;
  justify-content: space-between;
}

.products .stock .bar {
  height: 3px;
  margin-top: 1em;
  background-color: var(--border-color);
  overflow: hidden;
}

.products .stock .available {
  height: 3px;
  width: 21%;
  background-color: var(--secondary-color);
}

.products .item {
  display: flex;
  position: relative;
}

.products.main .item {
  flex: 0 0 25%;
}
/* Big products */

.products.big .item {
  flex-direction: column;
  padding: 2.5em;
  border: 2px solid var(--secondary-dark-color);
  border-radius: 7px;
  max-width: 460px;
  margin: 0 auto;
}

/* MINI products */
.products.mini .item {
  margin-bottom: 2em;
}

.products.mini .media {
  width: 130px;
  height: 160px;
  margin-right: 1.25em;
}

.products.mini .content {
  margin: 0;
  gap: 0.75em;
}

.products.mini .products:where(.mini, .main) h3 {
  font-weight: 400;
}

/* Featured Products */
.products.main .item {
  flex-direction: column;
  flex: 0 0 100%;
  padding: 0 0.938em;
  padding-bottom: 2em;
}

.products.main .media {
  height: 390px;
}

.products.main .footer {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 1em 1em;
  border-radius: 7px;
  z-index: 1;
  background: linear-gradient(
    0deg,
    var(--light-bg-color) 0%,
    var(--white-color) 70%
  );
  opacity: 0;
  visibility: hidden;
  will-change: opacity;
  transition: all 0.2s ease-in-out;
}

.products.main .item:hover .footer {
  opacity: 1;
  visibility: visible;
}

.products.main .footer ul {
  list-style: disc;
  padding: 1.25em 0 0 1.25em;
  line-height: 1.8;
  border-top: 1px solid var(--border-color);
  margin-top: 145px;
}

.products.main .item:hover .content > *:not(.footer) {
  z-index: 3;
}

.flexwrap .row {
  margin-bottom: 2em;
}

/*Features Products  */

/* Banner */
.banner .row {
  flex: 0 0 50%;
}

.banners .item {
  position: relative;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
}

.banner .img {
  text-align: right;
}

.banner .image {
  opacity: 0.8;
}

.banner .item .image img {
  width: 100%;
  max-height: 290px;
}

.banner .get-gray {
  background-color: var(--border-color);
}

.banner :where(.text-content, .over-link) {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--percent100);
  height: var(--percent100);
}

.banner .text-content {
  padding: 1.5em 2.5em;
}

.banner h3 {
  font-size: calc(1em + 0.5vw);
  font-weight: var(--fw3);
}

.banner h3 span {
  font-size: 80%;
}

.image-span {
  color: var(--white-color) !important;
}

.banner .primary-button {
  z-index: 3;
}

.banner h4 {
  color: var(--white-color) !important;
}

.banner h3 {
  color: var(--white-color) !important;
}
/* Responsive */

@media screen and (min-width: 992px) {
  .trending .products {
    flex: 0 0 33.3333%;
  }

  .products.big .media {
    max-height: 373px;
  }
}

@media screen and (max-width: 768px) {
  .banner .row {
    flex: 0 0 100%;
  }

  .products.main {
    display: flex;
    flex-wrap: wrap;
  }
  .products.main .item {
    flex: 0 0 50%;
  }

  .products.mini.mini1 {
    display: flex;
    flex-wrap: wrap;
  }
  .products.mini.mini1 .item {
    flex: 0 0 50%;
  }

  .products.mini.mini2 {
    display: flex;
    flex-wrap: wrap;
  }
  .products.mini.mini2 .item {
    flex: 0 0 50%;
  }

  /* cart */
  .mini-cart {
    position: absolute;
    width: 300px;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    z-index: 1000;
    box-shadow: rgb(0 0 0 / 30%) 0 10px 50px;
    visibility: hidden;
    opacity: 0;
  }

  .mini-cart .subtotal p:last-child {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 481px) {
  .products.mini.mini1 {
    display: flex;
    flex-wrap: wrap;
  }
  .products.mini.mini1 .item {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 768px) {
  .products .price .current {
    font-size: 1.25em;
  }

  .products.main .item {
    flex: 0 0 33.3333%;
  }
}

@media screen and (min-width: 481px) {
  .products.main .item {
    flex: 0 0 25%;
  }
}

.slider .item {
  position: relative;
  height: 473px;
}
.slider .item::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 450px;
  height: 300px;
  background-color: var(--white-color);
  z-index: 1;
  filter: blur(50px);
  opacity: 0.8;
}
.slider .text-content {
  position: relative;
  height: var(--percent100);
  justify-content: flex-end;
  padding: 0 0 10% 10%;
  z-index: 1;
}
.slider h4 {
  font-size: var(--font-small);
  font-weight: var(--fw7);
  width: fit-content;
  padding: 4px 10px;
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: 4px;
}
.text-content :where(h2, h3) span:first-child {
  font-weight: var(--fw3);
  color: var(--light-text-color);
}
.text-content :where(h2, h3) span:last-child {
  color: var(--secondary-dark-color);
  text-transform: uppercase;
  letter-spacing: -1px;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--secondary-dark-color);
}

/* Slider */

.brands .wrapper {
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em 0;
}
.brands .item img {
  opacity: 0.25;
  transition: opacity 0.3s;
}
.brands .item a:hover img {
  opacity: 1;
}

.brands .wrapper .item {
  margin: 20px;
}

/* Brands */
